<div class="container">
  <h1 class="text-center">Photos</h1>
  <div class="grid-container">
    <div  *ngFor="let photo of userAlbumPhotos | paginate: { itemsPerPage: 9, currentPage: p }; let i = index">
      <div>
        <img src="{{photo.thumbnailUrl}}" alt="Generic placeholder thumbnail" (click)="openImageModal(photo)">
      </div>
      <div class="caption">
        <p>{{photo.title}}</p>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
</div>

<div id="photoModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <img src="{{photoUrl}}" alt="Generic placeholder thumbnail">
    <p class="text-center"> {{photoTitle}}</p>
  </div>
</div>
